.delete-button {
  padding: 5px 20px;
  text-align: center;
  width: fit-content;
  border-radius: 25px;
  color: #b60000;
  border: none;
  background: transparent;
  transition: 0.5s;
  width: 80%;
  font-family: "Poppins";
  font-size: 14px;
  cursor: pointer;
}

.update-button {
  padding: 17px 20px;
  text-align: center;
  width: fit-content;
  border-radius: 25px;
  color: white;
  border: none;
  margin: 10px 0px;
  background: black;
  transition: 0.5s;
  width: 80%;
  font-family: "Poppins";
  font-size: 14px;
  cursor: pointer;
}

.statistics-button {
  padding: 15px 20px;
  text-align: center;
  width: fit-content;
  border-radius: 25px;
  color: black;
  border: none;
  background: transparent;
  border: solid 1px black;
  transition: 0.5s;
  width: 80%;
  font-family: "Poppins";
  font-size: 14px;
  cursor: pointer;
}

.details-button {
  padding: 5px 20px;
  text-align: center;
  width: fit-content;
  border-radius: 25px;
  color: black;
  border: none;
  background:transparent;
  margin: 10px 0px;
  transition: 0.5s;
  width: 80%;
  font-family: "Poppins";
  font-size: 14px;
  cursor: pointer;
}

