<h1>Privacy policy</h1>
    <p>Last updated: 10 May 2021</p>
    
    <h1>Our Commitment</h1>
    <p> We at Stereo take your privacy very seriously.</p>
    <ul>
        <li>We will process your data in a lawful, fair and transparent manner.</li>
        <li>We will inform you about how your personal data is being used.</li>
        <li>We do not share your personal data other than for specific necessary
            purposes.</li>
        <li>We fully respect your privacy rights.</li>
        <li>We embed ‘Privacy by design’ in all data processing carried out by
            us.</li>
    </ul>
    
    <p>This Privacy Notice explains the data we collect about you, how we use,
        store, and protect your personal data. We encourage you to read our
        Privacy Notice to understand how we keep up to our commitment.</p>
    
    <h1>Data we collect about you and the
        purposes.</h1>
    
    <p>We collect minimum amount of your personal data when you register for
        our mobile application. These include:</p>
    
    <ol>
        <li>First name</li>
        <li>Last name</li>
        <li>Email address</li>
        <li>Phone number</li>
        <li>ID number</li>
        <li>Gender</li>
        <li>Date of birth</li>
        <li>Photograph</li>
    </ol>
    
    <p>The table below specifies the purposes for the data elements collected:</p>
    
    <table style="width:100%">
        <tr>
            <th>Data</th>
            <th>Purpose</th>
            <th>Source</th>
            <th>Storage Location</th>
        </tr>
        <tr>
            <td>First name</td>
            <td>Hash value creation
                and verification</td>
            <td>Data subject</td>
            <td>Mobile device / Mongo DB</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>Hash value creation
                and verification</td>
            <td>Data subject</td>
            <td>Mobile device / Mongo DB</td>
        </tr>
        <tr>
            <td>Email address</td>
            <td>Hash value creation
                and verification</td>
            <td>Data subject</td>
            <td>Mobile device / Mongo DB</td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>Hash value creation
                and verification</td>
            <td>Data subject</td>
            <td>Mobile device / Mongo DB</td>
        </tr>
        <tr>
            <td>ID number</td>
            <td>Hash value creation,
                verification and
                fraud prevention</td>
            <td>Data subject</td>
            <td>Mobile device / Mongo DB</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>Optional
                identification data</td>
            <td>Data subject</td>
            <td>Mobile device / Mongo DB</td>
        </tr>
        <tr>
            <td>Date of birth</td>
            <td>Hash value creation,
                verification, and
                fraud prevention</td>
            <td>Data subject</td>
            <td>Mobile device / Mongo DB</td>
        </tr>
        <tr>
            <td>Photograph</td>
            <td>Identification and
                fraud prevention</td>
            <td>Data subject</td>
            <td>Amazon S3 bucket</td>
        </tr>
    </table>
    
    <p style="margin-top:20px">In summary, we will use your Personal Data only for the following
        purposes:</p>
    
    <ol>
        <li>The attestation of the digital copy of your COVID-19 compliance
            status certificate, as provided by the authorized and associated
            medical companies.</li>
        <li>For efficient verification by employers, authorities or any other third
            parties of your COVID-19 compliance status certificate.</li>
    </ol>

        <h1>Face Data Collection and Management</h1>
        <p>We collect a photograph of your face to have a better identification of your
profile when you get to the services of the points of care and activity
centers. The points of care and the activity centers staff are going to use
this information to confirm your identity, that is why it should be a clear
photo of your face that has to be like the one on your Identification
document.</p>

<p>Your face photograph will not be shared with third companies, we will only
provide a visualization of it on the moment the points of care and the
activity centers scan your QR code and confirm your identity.</p>

    
    <h1>Security of your Personal Data</h1>
    <p>We regularly test our applications (mobile and website) for vulnerabilities
        and aim to fix them as soon as possible. Inherently, we do not collect any
        personal data on our blockchain network, hence, reducing the risk to your
        data.</p>
    
    <p>The security of the personal data on your mobile device is in your control.
        We ensure the default settings of the app are enabled with ‘Privacy by
        design and default’. We recommend you use a strong passcode to lock
        your mobile device and take appropriate care before clicking URL’s or
        downloading any software from the internet.</p>
    
    <h1>Transfer and Disclosure of your
        Personal Data</h1>
    
    <p>Your personal data lives on your device in your control, we just keep a
        backup in our server in case any health authority request this information.
        We do not share your personal data with anyone outside the authorized
        and associated health companies, and the health authorities when it is
        required.</p>
    
    <p>The ‘hash value’ of the certificate is stored on your device. When you
        display your Libertypass for the status verification, the hash value (in QR
        code) will be captured by the scan and compared with the stored hash
        value on the Libertypass server to confirm a match and provide a binary
        status. We provide you with a capability to prove your health status. We do
        not store any data on the scanned location.</p>
    
    <h1>Storage and Destruction of your
        Personal Data</h1>
    
    <p>At any point in time, you can delete the local device data that is stored in
        the Libertypass mobile app. It includes your profile and all passes linked to
        it, by using the “deactivate account” function that is provided in the
        application.</p>
    
    <p>We do not collect any new data once you have used the “deactivate
        account” function, At the Libertypass server end, the hash and the data is
        deleted within 6 months of the deactivation, just in case any health
        authority require any historical data report.</p>
    
    <h1>Your Rights</h1>
    
    <p>We respect your rights to Privacy.</p>
    <ul>
        <li>We do not use any automated decision making.</li>
        <li>You can delete data collected by the app in your mobile device by
            yourself.</li>
    </ul>
    
    <h1>Changes to this Privacy Policy</h1>
    <p>We may update our Privacy Policy from time to time.</p>
    <p>You are advised to review this Privacy Policy periodically for any changes.
        Changes to this Privacy Policy are effective when they are posted on this
        page.</p>
    
    <h1>Contact us</h1>
    <p>If you have questions about this Privacy Notice, or if you would like to
        request to exercise any individual rights, please contact us at:</p>
    
    <p>Mailing address:</p>
    <p>Libertypass<br>Calle Vilamarí 75,<br>08015 Barcelona, Spain</p>
    
    <p>If you have any questions about this Privacy Notice, you can contact our
        Data Protection Officer by emailing to <a href="mailto:info@libertypass.eu">info@libertypass.eu</a></p>
    
    
    <p>You may lodge a complaint with a data protection authority competent for
        your country or region or place of alleged infringement. To contact the
        Personal Data Protection Commission in Spain, please click here:
        <a href="https://www.aepd.es" target="_blank">https://www.aepd.es</a></p>