<div class="header-container">
  <div class="logo-container">
      <img src="../../../../assets/images/tfg_app_logo.png" style="width: 35px; height: 35px; text-decoration: none;">
      <p style="margin-bottom: 0px; font-size: 18px; margin-left: 15px;">Stereo</p>
  </div>
</div>

<div class="header-container">

  <div class="icon_container" (click)="navigatePage('HOME')">
      <fa-icon [icon]="faHome"></fa-icon>
      <p style="margin-bottom: 0px;">Inicio</p>
  </div>

  <div class="icon_container" (click)="navigatePage('CONCERTS')">
      <fa-icon [icon]="faMicrophoneAlt"></fa-icon>
      <p style="margin-bottom: 0px;">Conciertos</p>
  </div>

  <nb-actions size="small">
      <nb-action class="user-action" *nbIsGranted="['view', 'user']">
          <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="user?.name"
                   [picture]="artistImageUrl">
          </nb-user>
      </nb-action>
  </nb-actions>
</div>