<div class="register-background">
    <div class="register-card-container" style="position: relative;">
        <div class="register-inputs-container right-part">
            <div class="progress register-progress-bar">
                <div class="progress-bar" role="progressbar" [ngStyle]="{width:progressBarWidth}" aria-valuenow=0 aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <fa-icon class="register-icon-back" [icon]="faLongArrowAltLeft" (click)="goBackSignUpStep()"></fa-icon>
            <p class="register-title-text">Registrar artista</p>

            <div *ngIf="registerStep === 1">
                <p class="register-subtitle-text">Paso 1</p>

                <div class="input-row">
                    <fa-icon class="register-icon" [icon]="faUser"></fa-icon>
                    <input class="register-input" type="text" placeholder="Nombre artistico"
                        [(ngModel)]="registerArtistName">
                </div>

                <div class="input-row">
                    <fa-icon class="register-icon" [icon]="faEmail"></fa-icon>
                    <input class="register-input" type="email" placeholder="Email" [(ngModel)]="registerEmail">
                </div>
            </div>

            <div *ngIf="registerStep === 2">
                <p class="register-subtitle-text">Paso 2</p>

                <div class="input-row">
                    <fa-icon class="register-icon" [icon]="faLock"></fa-icon>
                    <input class="register-input" type="password" placeholder="Contraseña"
                        [(ngModel)]="registerPassword">
                </div>

                <div class="input-row">
                    <fa-icon class="register-icon" [icon]="faLock"></fa-icon>
                    <input class="register-input" type="password" placeholder="Confirmar contraseña"
                        [(ngModel)]="registerConfirmPassword">
                </div>
            </div>

            <div *ngIf="registerStep === 3">
                <p class="register-subtitle-text">Paso 3</p>

                <div class="register-birthday-input-container">
                    <input class="birthday-input" matInput [matDatepicker]="picker" [(ngModel)]="registerBirthday"
                        placeholder="Fecha de nacimiento" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </div>

                <div class="register-gender-input-container">
                    <mat-select placeholder="Género" (selectionChange)="genderSelectHandler($event)"
                        [(ngModel)]="registerGender">
                        <mat-option *ngFor="let gender of listOfGenders" [value]="gender.value"
                            style="font-family: Poppins">
                            {{gender.gender}}
                        </mat-option>
                    </mat-select>
                </div>

                <div class="register-country-input-container">
                    <mat-select placeholder="País" (selectionChange)="countrySelectHandler($event)"
                        [(ngModel)]="registerCountry">
                        <mat-option *ngFor="let country of listOfCountries" [value]="country.code"
                            style="font-family: Poppins">
                            {{country.name}}
                        </mat-option>
                    </mat-select>
                </div>

            </div>

            <div *ngIf="registerStep === 4">
                <p class="register-subtitle-text">Paso 4</p>

                <div class="register-artist-img-container" style="margin-top: 40px;">
                    <img [src]="artistImage" (click)="uploadImage()">
                </div>

                <p class="register-upload-photo-text" (click)="uploadImage()" onerror="this.style.visibility='none'">Sube una foto</p>

                <div>
                    <input type="file" id="choosePhoto" hidden="hidden" (change)="fileBrowseHandler($event)" />
                </div>
            </div>


            <button class="register-button" style="margin-top: 25px;" (click)="proceedSignUpStep()">Siguiente</button>

            <p class="register-create-account">Al crear una cuenta aceptas la <br>
                <span>Política de privacidad</span>
            </p>
        </div>
    </div>
</div>