<div class="login-background">
    <div class="login-card-container">
        <div class="login-inputs-container left-part">
            <img src="../../../assets/images/login-image.png" style="width: 100%;"> 
        </div>
        <div class="login-inputs-container right-part">
            <p class="login-title-text">Inicio de sesión</p>

            <div class="input-row">
                <fa-icon class="login-icon" [icon]="faUser"></fa-icon>
                <input class="login-input" type="email" placeholder="Email o usuario">
            </div>

            <div class="input-row">
                <fa-icon class="login-icon" [icon]="faLock"></fa-icon>
                <input class="login-input" type="password" placeholder="Contraseña">
            </div>

            <button class="login-button" style="margin-top: 25px;">Iniciar sesión</button>
            <p class="login-forgot-text">¿No te acuerdas de tu <span (click)="requestResetUser()">usuario</span> o <span (click)="requestResetUser()">contraseña</span>?</p>

            <p class="login-create-account">Crea una cuenta como <span (click)="createAccount()">artista</span></p>
        </div>
    </div>
</div>