

<div class="header-title">
    <p>Crea tu evento en qüestión de pequeños pasos</p>
</div>

<div style="width: 80%; height: 500px; border-radius: 20px; margin: auto; border: solid 1px #999; margin-top: 50px; padding: 20px;">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <ng-template matStepperIcon="edit">
          <mat-icon>
          </mat-icon>
        </ng-template>
        <mat-step label="Ubicación">

        </mat-step>
        <mat-step label="Descripción">
        </mat-step>
        <mat-step label="Precios">
        </mat-step>
        <mat-step label="Número de asistentes">
        </mat-step>
        <mat-step label="Subir imagenes"></mat-step>
      </mat-vertical-stepper>
</div>
