<div class="col-md-12">
  <h1>Conciertos</h1>
  <div style="display: block; width: 100%; justify-content: center; text-align: center;">
    <p>Organiza tu proximo concierto en pocos pasos</p>
    <button class="login-button" (click)="createConcert()">Nuevo concierto</button>
  </div>
  
  <h3 style="margin-top: 75px; margin-bottom: 50px;">Proximo concierto</h3>
  
  <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px; max-width: 500px; margin: 25px auto;">
    <div class="solo-card" style="position: relative; border-radius: 10px; display: flex;">
      <img [src]="imageUrl"
        style="position: absolute; width: -webkit-fill-available; height:  -webkit-fill-available; border-radius: 10px;">
    </div>
    <div style="display: flex; width: 100%; align-items: center;">
      <div style="display: block; width: 70%;">
        <h3 style="position: relative; padding: 0px 10px 5px 15px; text-align: left; color: black; margin-bottom: 0px;">
          Astroworld</h3>
        <p style="position: relative; text-align: left;  padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
          Palau
          Sant Jordi</p>
      </div>
      <div style="display: block; width: 30%;">
        <h6 style="position: relative; padding: 0px 10px 5px 15px; text-align: right; color: black; margin-bottom: 0px;">
          6th 0ct</h6>
        <p style="position: relative; text-align: right; padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
          2021</p>
      </div>
    </div>
  
  
  </div>
  
  <h3 style="margin-top: 50px; margin-bottom: 50px;">Conciertos en los que colaboras</h3>
  
  <div class="row" style="justify-content: center;">
    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px;">
      <div class="card" style="position: relative; border-radius: 10px;">
        <img [src]="imageUrl"
          style="position: absolute; width: -webkit-fill-available; height:  -webkit-fill-available; border-radius: 10px;">
      </div>
      <div style="display: flex; width: 100%; align-items: center;">
        <div style="display: block; width: 70%;">
          <h3 style="position: relative; padding: 0px 10px 5px 15px; text-align: left; color: black; margin-bottom: 0px;">
            Astroworld</h3>
          <p style="position: relative; text-align: left;  padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            Palau
            Sant Jordi</p>
        </div>
        <div style="display: block; width: 30%;">
          <h6 style="position: relative; padding: 0px 10px 5px 15px; text-align: right; color: black; margin-bottom: 0px;">
            6th 0ct</h6>
          <p style="position: relative; text-align: right; padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            2021</p>
        </div>
      </div>
  
  
    </div>
    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px">
      <div class="card" style="position: relative; border-radius: 10px;">
        <img [src]="imageUrl"
          style="position: absolute; width: -webkit-fill-available; height:  -webkit-fill-available; border-radius: 10px;">
      </div>
      <div style="display: flex; width: 100%; align-items: center;">
        <div style="display: block; width: 70%;">
          <h3 style="position: relative; padding: 0px 10px 5px 15px; text-align: left; color: black; margin-bottom: 0px;">
            Astroworld</h3>
          <p style="position: relative; text-align: left;  padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            Palau
            Sant Jordi</p>
        </div>
        <div style="display: block; width: 30%;">
          <h6 style="position: relative; padding: 0px 10px 5px 15px; text-align: right; color: black; margin-bottom: 0px;">
            6th 0ct</h6>
          <p style="position: relative; text-align: right; padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            2021</p>
        </div>
      </div>
  
  
    </div>
    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px">
      <div class="card" style="position: relative; border-radius: 10px;">
        <img [src]="imageUrl"
          style="position: absolute; width: -webkit-fill-available; height:  -webkit-fill-available; border-radius: 10px;">
      </div>
      <div style="display: flex; width: 100%; align-items: center;">
        <div style="display: block; width: 70%;">
          <h3 style="position: relative; padding: 0px 10px 5px 15px; text-align: left; color: black; margin-bottom: 0px;">
            Astroworld</h3>
          <p style="position: relative; text-align: left;  padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            Palau
            Sant Jordi</p>
        </div>
        <div style="display: block; width: 30%;">
          <h6 style="position: relative; padding: 0px 10px 5px 15px; text-align: right; color: black; margin-bottom: 0px;">
            6th 0ct</h6>
          <p style="position: relative; text-align: right; padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            2021</p>
        </div>
      </div>
  
  
    </div>
    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px">
      <div class="card" style="position: relative; border-radius: 10px;">
        <img [src]="imageUrl"
          style="position: absolute; width: -webkit-fill-available; height:  -webkit-fill-available; border-radius: 10px;">
      </div>
      <div style="display: flex; width: 100%; align-items: center;">
        <div style="display: block; width: 70%;">
          <h3 style="position: relative; padding: 0px 10px 5px 15px; text-align: left; color: black; margin-bottom: 0px;">
            Astroworld</h3>
          <p style="position: relative; text-align: left;  padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            Palau
            Sant Jordi</p>
        </div>
        <div style="display: block; width: 30%;">
          <h6 style="position: relative; padding: 0px 10px 5px 15px; text-align: right; color: black; margin-bottom: 0px;">
            6th 0ct</h6>
          <p style="position: relative; text-align: right; padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            2021</p>
        </div>
      </div>
  
  
    </div>
    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px">
      <div class="card" style="position: relative; border-radius: 10px;">
        <img [src]="imageUrl"
          style="position: absolute; width: -webkit-fill-available; height:  -webkit-fill-available; border-radius: 10px;">
      </div>
      <div style="display: flex; width: 100%; align-items: center;">
        <div style="display: block; width: 70%;">
          <h3 style="position: relative; padding: 0px 10px 5px 15px; text-align: left; color: black; margin-bottom: 0px;">
            Astroworld</h3>
          <p style="position: relative; text-align: left;  padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            Palau
            Sant Jordi</p>
        </div>
        <div style="display: block; width: 30%;">
          <h6 style="position: relative; padding: 0px 10px 5px 15px; text-align: right; color: black; margin-bottom: 0px;">
            6th 0ct</h6>
          <p style="position: relative; text-align: right; padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            2021</p>
        </div>
      </div>
  
  
    </div>
  </div>
  
  <h3 style="margin-top: 50px; margin-bottom: 50px;">Conciertos finalizados</h3>
  
  <div class="row" style="justify-content: center;">
    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px;">
      <div class="card" style="position: relative; border-radius: 10px;">
        <img [src]="imageUrl"
          style="position: absolute; width: -webkit-fill-available; height:  -webkit-fill-available; border-radius: 10px;">
      </div>
      <div style="display: flex; width: 100%; align-items: center;">
        <div style="display: block; width: 70%;">
          <h3 style="position: relative; padding: 0px 10px 5px 15px; text-align: left; color: black; margin-bottom: 0px;">
            Astroworld</h3>
          <p style="position: relative; text-align: left;  padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            Palau
            Sant Jordi</p>
        </div>
        <div style="display: block; width: 30%;">
          <h6 style="position: relative; padding: 0px 10px 5px 15px; text-align: right; color: black; margin-bottom: 0px;">
            6th 0ct</h6>
          <p style="position: relative; text-align: right; padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            2021</p>
        </div>
      </div>
  
  
    </div>
    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px">
      <div class="card" style="position: relative; border-radius: 10px;">
        <img [src]="imageUrl"
          style="position: absolute; width: -webkit-fill-available; height:  -webkit-fill-available; border-radius: 10px;">
      </div>
      <div style="display: flex; width: 100%; align-items: center;">
        <div style="display: block; width: 70%;">
          <h3 style="position: relative; padding: 0px 10px 5px 15px; text-align: left; color: black; margin-bottom: 0px;">
            Astroworld</h3>
          <p style="position: relative; text-align: left;  padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            Palau
            Sant Jordi</p>
        </div>
        <div style="display: block; width: 30%;">
          <h6 style="position: relative; padding: 0px 10px 5px 15px; text-align: right; color: black; margin-bottom: 0px;">
            6th 0ct</h6>
          <p style="position: relative; text-align: right; padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            2021</p>
        </div>
      </div>
  
  
    </div>
    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px">
      <div class="card" style="position: relative; border-radius: 10px;">
        <img [src]="imageUrl"
          style="position: absolute; width: -webkit-fill-available; height:  -webkit-fill-available; border-radius: 10px;">
      </div>
      <div style="display: flex; width: 100%; align-items: center;">
        <div style="display: block; width: 70%;">
          <h3 style="position: relative; padding: 0px 10px 5px 15px; text-align: left; color: black; margin-bottom: 0px;">
            Astroworld</h3>
          <p style="position: relative; text-align: left;  padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            Palau
            Sant Jordi</p>
        </div>
        <div style="display: block; width: 30%;">
          <h6 style="position: relative; padding: 0px 10px 5px 15px; text-align: right; color: black; margin-bottom: 0px;">
            6th 0ct</h6>
          <p style="position: relative; text-align: right; padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            2021</p>
        </div>
      </div>
  
  
    </div>
    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px">
      <div class="card" style="position: relative; border-radius: 10px;">
        <img [src]="imageUrl"
          style="position: absolute; width: -webkit-fill-available; height:  -webkit-fill-available; border-radius: 10px;">
      </div>
      <div style="display: flex; width: 100%; align-items: center;">
        <div style="display: block; width: 70%;">
          <h3 style="position: relative; padding: 0px 10px 5px 15px; text-align: left; color: black; margin-bottom: 0px;">
            Astroworld</h3>
          <p style="position: relative; text-align: left;  padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            Palau
            Sant Jordi</p>
        </div>
        <div style="display: block; width: 30%;">
          <h6 style="position: relative; padding: 0px 10px 5px 15px; text-align: right; color: black; margin-bottom: 0px;">
            6th 0ct</h6>
          <p style="position: relative; text-align: right; padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            2021</p>
        </div>
      </div>
  
  
    </div>
    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px">
      <div class="card" style="position: relative; border-radius: 10px;">
        <img [src]="imageUrl"
          style="position: absolute; width: -webkit-fill-available; height:  -webkit-fill-available; border-radius: 10px;">
      </div>
      <div style="display: flex; width: 100%; align-items: center;">
        <div style="display: block; width: 70%;">
          <h3 style="position: relative; padding: 0px 10px 5px 15px; text-align: left; color: black; margin-bottom: 0px;">
            Astroworld</h3>
          <p style="position: relative; text-align: left;  padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            Palau
            Sant Jordi</p>
        </div>
        <div style="display: block; width: 30%;">
          <h6 style="position: relative; padding: 0px 10px 5px 15px; text-align: right; color: black; margin-bottom: 0px;">
            6th 0ct</h6>
          <p style="position: relative; text-align: right; padding: 0px 10px 10px 15px; color: black; font-weight: 500;">
            2021</p>
        </div>
      </div>
  
  
    </div>
  </div>
  
</div>
