<div class="col-md-12">
    <h1 style="margin-bottom: 50px;">Añade un nuevo concierto</h1>

    <div
        style="width: 80%; background-color: white; padding: 20px; border-radius: 20px; justify-content: center; margin: auto;">

        <div style="margin: 25px">
            <h4>Descripción y fecha</h4>
            <div style="display: flex; width: 100%;">
                <div style="display: block; width: 50%; padding: 15px 15px 15px 0px;">
                    <p style="margin-top: 35px;">Nombre del concierto</p>
                    <input class="row-input" type="text" placeholder="Nombre del concierto" name="name"
                        [(ngModel)]="concert.name">
                </div>
                <div style="display: block; width: 25%; padding: 15px 0px 15px 15px;">
                    <p style="margin-top: 35px;">Fecha</p>
                    <input class="row-input" nbInput placeholder="YYYY-MM-DD" [(ngModel)]="concert.dateStarts">
                </div>

                <div style="display: block; width: 25%; padding: 15px 0px 15px 15px;">
                    <p style="margin-top: 35px;">Hora</p>
                    <input class="row-input" nbInput placeholder="HH:MM" [(ngModel)]="hora">
                </div>

            </div>

            <div style="display: flex; width: 100%;">
                <div style="display: block; width: 50%; padding: 15px 15px 15px 0px;">
                    <p>Descripción</p>
                    <textarea class="row-input" type="text" placeholder="Descripción de presentación" name="name"
                        style="height: 100px;" [(ngModel)]="concert.description"></textarea>
                </div>
                <div style="display: block; width: 50%; padding: 15px 0px 15px 15px;">
                    <p>Descripción extra</p>
                    <textarea class="row-input" type="text" placeholder="Descripción de presentación extra" name="name"
                        style="height: 100px;" [(ngModel)]="concert.extraDescription"></textarea>
                </div>
            </div>

            <h4 style="margin-top: 50px; margin-bottom: 25px;">Imagen cover del concierto</h4>
            <p>Esta imagen sera visible para todos los usuarios y es para identificar</p>
            <div *ngIf="imagesCover == null"
                style="width: 60%; height: 200px; border-radius: 20px; border: dotted 1px #828282; display: flex; text-align: center; margin: 35px auto 35px auto; justify-content: center; align-items: center; ">
                <fa-icon [icon]="faCloudUploadAlt" style="font-size: 40px; color: #828282; margin-right: 20px;">
                </fa-icon>
                <label class="register-upload-photo-text" for="choose-photo">Sube imagen</label>
                <input type="file" id="choose-photo" (change)="fileBrowseHandlerCover($event)" />
            </div>

            <div *ngIf="imagesCover != null">
                <div class="row" style="justify-content: center;">
                    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px;">
                        <img [src]="imagesCover"
                            style="width:500px; height: 280px; border-radius:20px; object-fit:cover; margin: 20px;">
                    </div>
                </div>

                <div style="text-align: center;">
                    <label class="register-upload-photo-text" for="choose-photo">Sube otra imagen</label>
                    <input type="file" id="choose-photo" (change)="fileBrowseHandlerCover($event)" />
                </div>

            </div>

            <p style="text-align: center;">Aspect ratio debe ser de 16:9 para una buena calidad</p>

            <h4 style="margin-bottom: 25px;">Ubicación</h4>
            <div style="border-radius: 20px;width: 100%; margin-top: 15px;">
                <input [(ngModel)]="concert.placeAddress" placeholder="Buscar lugar" #search autocomplete="off"
                    id="search" [formControl]="searchControl" class="row-input"
                    style="width: 100%; margin-bottom: 35px;">

                <agm-map [latitude]="latitude" [zoom]="zoom" [longitude]="longitude"
                    style="width: 100%; height: 50vh; border-radius: 20px;">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
            </div>

            <div style="display: block; width: 100%; padding: 15px 15px 15px 0px;">
                <p style="margin-top: 35px;">Descripción del lugar</p>
                <input class="row-input" type="text" placeholder="Descripción del lugar" name="name"
                    [(ngModel)]="concert.placeDescription">
            </div>

            <h4 style="margin-top: 10px; margin-bottom: 25px;">Imagenes de la ubicación</h4>
            <p>Puedes subir hasta cuatro imagenes de la ubicación para que los usuarios puedan ver el lugar que se va a
                dar
                a cabo el
                concierto (opcional)</p>
            <div *ngIf="images.length == 0"
                style="width: 60%; height: 200px; border-radius: 20px; border: dotted 1px #828282; display: flex; text-align: center; margin: 35px auto 35px auto; justify-content: center; align-items: center; ">
                <fa-icon [icon]="faCloudUploadAlt" style="font-size: 40px; color: #828282; margin-right: 20px;">
                </fa-icon>
                <label class="register-upload-photo-text" for="choose-photo-place">Sube imagenes</label>
                <input type="file" id="choose-photo-place" multiple (change)="fileBrowseHandler($event)" />
            </div>

            <div *ngIf="images.length != 0">
                <div class="row" style="justify-content: center;">
                    <div class="column" style="border-radius: 20px; margin: 0px 20px 10px 20px;">
                        <img *ngFor="let image of images" [src]="image"
                            style="width:200px; height: 150px; border-radius:20px; object-fit:cover; margin: 20px;">
                    </div>
                </div>

                <div style="text-align: center;">
                    <label class="register-upload-photo-text" for="choose-photo-place">Sube más imagenes</label>
                    <input type="file" id="choose-photo-place" multiple (change)="fileBrowseHandler($event)" />
                </div>
            </div>

            <h4 style="margin-bottom: 25px;">Entradas</h4>
            <p style="margin-bottom: 25px;">Añade diferentes tipos de entradas y precios</p>

            <div *ngFor="let ticket of tickets">
                <div style="display: flex; margin-bottom: 20px; align-items: center; cursor: pointer;">
                    <h6 style="margin-bottom: 0px; width: 100%;">Tipo: {{ticket.name}}</h6>
                    <fa-icon [icon]="faTimes" style="color:red; font-size: 20px;" (click)="removePricing()"></fa-icon>
                </div>
                <div style="display: block;">
                    <div style="display: flex; width: 100%;">
                        <div style="display: block; width: 50%; padding: 15px 15px 15px 0px;">
                            <p>Nombre</p>
                            <input class="row-input" type="text" placeholder="VIP, estandard .." name="ticketName"
                                [(ngModel)]="ticket.name">
                        </div>
                        <div style="display: block; width: 50%; padding: 15px 0px 15px 15px;">
                            <p >Descripción</p>
                            <input class="row-input" type="text" placeholder="Con entrada VIP barra libre incluida" name="ticketDescription"
                                [(ngModel)]="ticket.description">
                        </div>
                    </div>
                    <div style="display: flex; width: 100%;">
                        <div style="display: block; width: 50%; padding: 15px 15px 15px 0px;">
                            <p>Numero de entradas</p>
                            <input class="row-input" type="number" placeholder="Numero de entradas" name="ticketNumber"
                                [(ngModel)]="ticket.numberTickets">
                        </div>
                        <div style="display: block; width: 50%; padding: 15px 0px 15px 15px;">
                            <p>Precio</p>
                            <input class="row-input" type="number" placeholder="Precio" name="ticketPrice"
                                [(ngModel)]="ticket.cost">
                        </div>
                    </div>
                </div>
            </div>

            <p style="margin-bottom: 50px; cursor: pointer; text-align: center; font-weight: 1000;" (click)="addPricingInterval()">Añadir nueva franja de precios</p>

            <h4 style="margin-top: 25px; margin-bottom: 20px;">Artistas que participaran</h4>

            <input class="row-input" type="text" placeholder="Buscar artista" name="artist"
                [(ngModel)]="artistSearchTerm" (ngModelChange)="onArtistParticipatingInputChange($event)"
                style="width: 100%;">
            <div class="row" style="justify-content: center;">
                <div class="column"
                    style="border-radius: 20px; margin: 0px 20px 10px 20px; display: contents; text-align: center; max-width: 250px;">
                    <div *ngFor="let artist of artists" style="margin: 20px;">
                        <div style="position: relative; cursor: pointer;" (click)="selectArtist(artist)">
                            <img [src]="artist.profileUrl" [ngStyle]="{'opacity': artist.opacity}"
                                style="width:100px; height: 100px; border-radius:50%; object-fit:cover; transition: 0.5s;">
                            <p [ngStyle]="{'font-weight': artist.opacity === 1? 500: 1000}"
                                style="transition: 0.5s; margin-top: 10px;">{{artist.artistName}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <p *ngIf="errorAlert" style="text-align: center; margin-bottom: 40px; color: rgb(240, 0, 40);">{{errorMessage}}
        </p>
        <p *ngIf="successAlert" style="text-align: center; margin-bottom: 40px; color: rgb(30, 39, 161);">
            {{successMessage}}</p>
        <div style="text-align: center;">
            <button class="login-button" (click)="createConcert()">Crear concierto</button>
        </div>


    </div>
</div>